meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Agricultura Urbana: Generalidades y Sustratos
meta(meta name="description" content="En este material de formación permite conocer la definición de agricultura urbana, los sustratos, sus propiedades físicas, químicas y biológicas, los sustratos orgánicos tipo bocashi, lombricompost y compost, y los sustratos minerales, entre otros.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")