.container

  ol
    li 
      p Agricultura urbana y periurbana en América Latina y el Caribe. (2015). 
        a(href="http://www.fao.org/ag/agp/greenercities/es/CMVALC/panorama.html", target="_blank") http://www.fao.org/ag/agp/greenercities/es/CMVALC/panorama.html

    li 
      p Agroactivo. (s.f.). Roca fosfórica [Conjunto de datos]. 
        a(href="https://agroactivocol.com/producto/nutricion-vegetal/enmiendas-y-acondicionadores/minerales/roca-fosforica-fosforita-26/", target="_blank") https://agroactivocol.com/producto/nutricion-vegetal/enmiendas-y-acondicionadores/minerales/roca-fosforica-fosforita-26/

    li 
      p Bioespacio sustratos Colombia. (2016, diciembre). Sustratos inorgánicos en hidroponía. 
        a(href="https://bioespacio.co/sustratos-inorganicos-en-hidroponia/", target="_blank") https://bioespacio.co/sustratos-inorganicos-en-hidroponia/

    li 
      p Calderón Sáenz, F., & Cevallos, F. (2011, mayo). Los sustratos. 
        a(href="http://www.drcalderonlabs.com/Publicaciones/Los_Sustratos.htm", target="_blank") http://www.drcalderonlabs.com/Publicaciones/Los_Sustratos.htm


    li 
      p Cortés Méndez, l. (2010, octubre). Proyecto de ley 128 de 2010 cámara. 
        a(href="https://vlex.com.co/vid/proyecto-ley-ca-mara-451389706", target="_blank") https://vlex.com.co/vid/proyecto-ley-ca-mara-451389706

    li 
      p FAO. (s.f.). Agricultura urbana. 
        a(href="http://www.fao.org/urban-agriculture/es/", target="_blank") http://www.fao.org/urban-agriculture/es/

 
    li 
      p FAO. (2010). Con los microhuertos, la población urbana pobre produce lo que consume. 
        a(href="http://www.fao.org/ag/agp/greenercities/es/microhuertos/index.html", target="_blank") http://www.fao.org/ag/agp/greenercities/es/microhuertos/index.html

    li 
      p FAO. (2010b). Agricultura “climáticamente inteligente” Políticas, prácticas y financiación para la seguridad alimentaria, adaptación y mitigación [GUIA]. 
        a(href="http://www.fao.org/3/i1881s/i1881s00.pdf", target="_blank") http://www.fao.org/3/i1881s/i1881s00.pdf

    li 
      p Gil Flores, A. (2014). Efecto de dos tipos de labranza sobre algunas propiedades físicas y químicas del suelo utilizando cultivo de rábano y abono tipo Bocash [tesis de pregrado]. 
        a(href="http://ri.uaemex.mx/bitstream/handle/20.500.11799/30917/UAEM-FAPUR-TESIS-GIL%2CANGELICA.pdf?sequence=1&isAllowed=y", target="_blank") http://ri.uaemex.mx/bitstream/handle/20.500.11799/30917/UAEM-FAPUR-TESIS-GIL%2CANGELICA.pdf?sequence=1&isAllowed=y

    li 
      p Gómez Rodríguez, J. N. (2014). Agricultura urbana en américa latina y Colombia: perspectivas y elementos agronómicos diferenciadores [tesis de pregrado]. 
        a(href="https://repository.unad.edu.co/bitstream/10596/2749/1/15385851.pdf", target="_blank") https://repository.unad.edu.co/bitstream/10596/2749/1/15385851.pdf

    li 
      p InfoAgro.com. (s.f.). Tipos de sustratos de cultivo (2ª parte). 
        a(href="https://www.infoagro.com/industria_auxiliar/tipo_sustratos2.htm", target="_blank") https://www.infoagro.com/industria_auxiliar/tipo_sustratos2.htm

    li 
      p Programa especial para la seguridad alimentaria pesa en el salvador – gcp/els/007/spa. (s.f.). Elaboración y uso del bocashi [Cartilla]. 
        a(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf

    li 
      p Portalfruticola.com. (2018, septiembre). Principales características del Peat Moss, turba rubia para los cultivos. 
        a(href="https://www.portalfruticola.com/noticias/2018/09/21/principales-caracteristicas-del-peat-moss-turba-rubia-para-los-cultivos/", target="_blank") https://www.portalfruticola.com/noticias/2018/09/21/principales-caracteristicas-del-peat-moss-turba-rubia-para-los-cultivos/