include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h2 2.4 Clasificación de los sustratos 

    p Existen diferentes clasificaciones para los sustratos, una de las más utilizadas es la que los agrupa en sustratos minerales y sustratos orgánicos. 

    .header.mt-md-5
        .header-body
            // Title
            h3.header-title.font-weight-bolder Sustratos Minerales
            // Subtitle


    p Son materiales que se obtienen a partir de rocas o minerales de diversos orígenes, algunos se pueden utilizar en la manera como se encuentran naturalmente, como por ejemplo, arena, grava, tierra volcánica, etc., otros requieren tratamientos físicos para modificar las características iniciales del material, como perlita, lana de roca, vermiculita, arcilla expandida, etc.

    p.text-center.my-5
        img(src="assets/images/pages/tema-2/arena.svg").img-fluid.mb-3.mb-md-0

    p.text-center.my-5
        img(src="assets/images/pages/tema-2/grava.svg").img-fluid


    p Una característica fundamental de los sustratos minerales, es la carencia de nutrientes para aportar a las plantas. 

    .header.mt-md-5
        .header-body
            // Title
            h3.header-title.font-weight-bolder Sustratos orgánicos            

    p Dentro de la categoría de sustratos orgánicos se encuentran tres niveles: 

    .jumbotron.bg-white.my-5
        header.header-step
            span.header-step-number.text-color-orange 01
            span.header-step-title Sustratos orgánicos de origen natural:

        p.mt-2 Son materiales que se caracterizan por sufrir procesos de biodescomposición, se conocen como turbas.

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/turba.svg").img-fluid


    .jumbotron.bg-white.my-5
        header.header-step
            span.header-step-number.text-color-orange 02
            span.header-step-title.font-weight-bolder Sustratos orgánicos de síntesis:

        p.mt-2 Como los polímeros súper absorbentes o SAP (Super Absorbent Polymers), básicamente son hidrogeles que se utilizan como sustratos por su capacidad de retener enormes cantidades de agua.

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/polimeros.svg").img-fluid        


    .jumbotron.bg-white.my-5
        header.header-step
            span.header-step-number.text-color-orange 03
            span.header-step-title.font-weight-bolder Sustratos orgánicos subproductos y residuos agrícolas, industriales y urbanos:

        p.mt-2 Algunos de los sustratos de esta categoría deben ser sometidos a un proceso de compostaje para su adecuada utilización en la agricultura urbana. Los más utilizados son: cascarilla de arroz, paja de cereales, fibra de coco, piel de uva, pulpa de café, cortezas de árboles, aserrín y virutas de la madera, residuos sólidos urbanos y lodos de depuración de aguas residuales, entre otros.

        p A continuación, se describen tres sustratos orgánicos pertenecientes a esta categoría, muy utilizados en las prácticas de agricultura urbana, principalmente mezclados con otros productos y que tienen la función principal de brindar elementos nutricionales a las plantas: 

        h3.font-weight-bold.my-4 Compost

        p Es un tipo de sustrato que le proporciona a las plantas todos los nutrientes necesarios para su crecimiento, que, además no tiene efecto negativo para los seres humanos, los animales o el medio ambiente. 

        p Preparar compost y posteriormente utilizarlo en agricultura urbana es la mejor forma de aprovechar desechos orgánicos para convertirlos en un sustrato o en un elemento de mezcla que además mejora la estructura del suelo. 

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/compost.svg").img-fluid      

        P Para iniciar el proceso de producción de compost se pueden usar todo tipo de materiales tanto de origen vegetal, animal, como mineral. De acuerdo con la estructura y composición (riqueza en nutrientes) que tengan estos materiales, variará la estructura interna del compost y el aporte nutricional que realice a los cultivos.