include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom


    .header-ecored
        h1 2. Sustratos en la agricultura urbana


    .header-ecored#tema-21
        h2 2.1 Definición

    p En agricultura urbana se denomina sustrato a todo material sólido diferente del suelo, el cual puede ser natural, mineral, orgánico o semiorgánico, que se utiliza en contenedores de forma pura o en mezcla para brindar aireación, retener agua para que la planta posea una buena cantidad de raíces y  desarrolle un anclaje adecuado, en algunas ocasiones suministra también nutrientes.

    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t21.svg").img-fluid


    .header-ecored#tema-22
        h2 2.2 Propiedades

    p En los sustratos que se utilizan en la agricultura urbana resultan determinantes sus propiedades físicas, químicas y biológicas. 

    .card
        .card-body.bg-white-soft
            p.header-step.align-items-center
                span.header-step-number.text-color-orange.mr-1 
                    img(src="assets/images/pages/tema-2/ico-pro-fis.svg")
                
            .h2.text-brand-color-dark.my-4
               | Propiedades Físicas


            p.my-4 Las propiedades físicas de los sustratos son las más importantes dentro de la agricultura urbana. Las principales son: 

            ul.bg-color-dark

                li 
                    p #[strong Porosidad:]                     
                    p Parte del sustrato no ocupado por partículas sólidas, contiene aire o agua. Se relacionan directamente con la aireación y la retención de agua.

                li 
                    p #[strong Densidad:]                     
                    p La densidad real es el material sólido que compone el sustrato. La densidad aparente es el espacio total ocupado por los componentes sólidos más el espacio poroso.

                li 
                    p #[strong Estructura:]                     
                    p La mayoría de los sustratos minerales tiene estructura  granular, es decir, sin forma estable. Los demás sustratos tienen estructura fibrilar.

                li 
                    p #[strong Granulometría:]                     
                    p Es el tamaño de los gránulos o de las fibras y tiene gran influencia en el comportamiento del sustrato.


    .card.border-color-blue
        .card-body.bg-white-soft
            p.header-step.align-items-center
                span.header-step-number.text-color-orange.mr-1 
                    img(src="assets/images/pages/tema-2/ico-pro-qui.svg")
                
            .h2.text-color-blue.my-4
               | Propiedades Químicas


            p.my-4 Las propiedades químicas se deben a los procesos de disolución e hidrólisis en los sustratos. Las más significativas son:

            ul.bg-color-dark.bullet-blue

                li 
                    p #[strong CIC:]                     
                    p Capacidad de Intercambio Catiónico. Son las reacciones de intercambio de iones que se dan en los sustratos orgánicos.

                li 
                    p #[strong pH:]                     
                    p Ese potencial de iones de hidrógeno que hacen que el sustrato tenga características ácidas o básicas.

                li 
                    p #[strong Bioquímicas:]                     
                    p Son reacciones que producen biodegradación de los componentes del sustrato, afectando directamente sus propiedades físicas.

                li 
                    p #[strong Otras:]                     
                    p Efectos fitotóxicos, carenciales u osmóticos que tienen los sustratos. 

    .card.border-color-red
        .card-body.bg-white-soft
            p.header-step.align-items-center
                span.header-step-number.text-color-orange.mr-1 
                    img(src="assets/images/pages/tema-2/ico-pro-bio.svg")
                
            .h2.text-color-red.my-4
               | Propiedades Biológicas


            p.my-4 Las propiedades biológicas se dan únicamente en los sustratos orgánicos. Las principales son: 

            ul.bg-color-dark.bullet-red

                li 
                    p #[strong Velocidad de descomposición:]                     
                    p Está en función de la población microbiana del sustrato y de las condiciones ambientales. Puede producir deficiencias de oxígeno y nitrógeno, además, liberación de sustancias fitotóxicas.

                li 
                    p #[strong Efectos de los productos de descomposición:]                     
                    p Los ácidos húmicos y fúlvicos presentes en los sustratos orgánicos, tienen efectos positivos directos en el desarrollo de las plantas.                   