include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Generalidades de la agricultura urbana

    p La agricultura urbana es el proceso por medio del cual las comunidades de las ciudades cultivan alimentos haciendo uso de espacios pequeños que encuentran en sus sitios de residencia. Lo cual tiene múltiples ventajas, como por ejemplo, adquirir alimentos sanos a menor precio, revertir el efecto del cambio climático, generar empleo e ingresos familiares, entre otros. 
    
    p.text-center.my-5
        img(src="assets/images/pages/tema-1/ventajas.svg").img-fluid.mb-3.mb-md-0    
    

    section.card-border-bottom.mt-5
        .card
            .card-body

                p Es así como, el proyecto de Ley 128 de 2010 define <strong>Agricultura Urbana</strong> como: 
     
                blockquote “La práctica agrícola de producción limpia, ecológica y sostenible del cultivo de plantas alimenticias y medicinales, aromáticas u ornamentales, dentro de las áreas urbanas y/o de expansión urbana de los municipios y distritos, destinados a proveer de alimentos y productos saludables a la población humana”.
                    br 
                    a(href="https://vlex.com.co/vid/proyecto-ley-ca-mara-451389706", target="_blank") https://vlex.com.co/vid/proyecto-ley-ca-mara-451389706 

    p Con el paso del tiempo se ha descubierto que la agricultura urbana no sólo es realizada por poblaciones vulnerables de estratos económicos bajos, sino que también la desarrollan personas pertenecientes a estratos económicos altos, que con el boom de la vida sana, desean proveer a sus familias alimentos limpios producidos por ellos mismos, además, consideran las actividades realizadas en los huertos, como una importante oportunidad para liberar el estrés y entrar en contacto con la naturaleza. 